target/
test/
out/
.mvn/
.idea/

# Compiled class file
*.class

# Log file
*.log

# iml
*.iml

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

#重新初始化
#git rm -r --cached .
#git add .
#git commit -m 'update .gitignore'
#git push origin master


